.footer {
    background-color: #1f1f1f;
    color           : #ffff;
}

.footer__wrapper {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding-top    : 42px;
    padding-bottom : 42px;
}

.footer__wrapper p {
    margin: 1;
}

.footer__wrapper p:nth-child(2) {
    font-size: 18px;
}

.footer__wrapper img:nth-child(3) {
    max-width: 220px;
}

.footer__wrapper img {
    max-width: 82px;
}